/* Grid container */
.gridContainer {
  display: grid;
  border: none;
  min-height: calc(100vh - 20px);
  height: 100vh;
  min-width: calc(100vw - 40px);
  width: 100%;
  padding: 10px 20px;
  background-image: radial-gradient(#32325e, #1c1c4892);
}

/* Header */
.gridContainer header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  height: 5vh;
}

.menu {
  border: none;
}

/* Nav menu ul lists */
.mobileNav {
  font-size: 1.5rem;
  width: 100%;
  height: 20vh;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.9);
}

.mobileNavContainer li {
  display: block;
  color: #000;
}

.navContainer {
  display: none;
  width: 45%;
}

.nav {
  list-style-type: none;
  font-size: 1.5rem;
}

.nav ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.nav li {
  list-style-type: none;
  color: #fff;
  font-size: 1.1rem;
  font-weight: 200;
}

/* Main content area */
.gridContainer main {
  height: calc(95vh - 20px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

/* Image */
.image {
  content: '';
  height: 300px;
  width: 300px;
  border-radius: 5%;
  order: 2;
  justify-self: center;
}

/* Name Text */
.firstName,
.middleName,
.lastName {
  font-size: 3rem;
  font-weight: bold;
}

.lastName {
  order: 1;
  justify-self: start;
  font-weight: 300;
}

.firstName {
  font-size: 4rem;
  order: 4;
  justify-self: end;
}

.middleName {
  order: 3;
  display: none;
}

/* About me text */
.introduction {
  font-size: 1.1rem;
  font-weight: 200;
  text-align: left;
  order: 4;
}

.introduction a {
  text-decoration: underline;
}

.more {
  order: 5;
  justify-self: center;
}

/* Projects section */
.projects {
  display: grid;
  justify-items: center;
  width: 100vw;
  font-weight: 300;
  padding: 5em 0 0;
}

.project {
  /* width: 85%; */
  display: flex;
  gap: 1em;
  flex-direction: column;
  align-items: center;
  margin-bottom: 3rem;
  
  background-color: white;
  color: #000;
  border-radius: 10px;
  padding: 1em;
  min-height: 300px;
  justify-content: space-between;
}

.project .title {
  text-decoration: underline;
  font-size: 1.5rem;
}

.project .projectImage {
  width: 300px;
}

.project .description {
  font-size: 1rem;
  font-weight: 200;
  text-align: justify;
}

.project .action {
  display: block;
  width: 40%;
  border: solid thin #32325e;
  text-align: center;
  padding: 5px;
  border-radius: 5px;
}

/* smartphones, portrait iPhone, portrait 480x320 phones (Android) - The styles above apply*/
@media (min-width:320px) {}

/* smartphones, Android phones, landscape iPhone */
@media (min-width:480px) {
  .gridContainer {
    grid-template-rows: 5vh 140px 350px 140px 140px auto;
    grid-template-columns: repeat(11, 1fr);
  }

  .header {
    grid-column: 1 / 12;
    grid-row: 1 / 2;
  }

  .lastName {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    font-size: 6rem;
    font-weight: 500;
    /* line-height: 130px; */
  }

  .middleName {
    grid-column: 8 / 12;
    grid-row: 3 / 4;
    display: block;
    align-self: center;
    font-weight: 300;
    text-shadow: -2px -2px 3px #000;
  }

  .firstName {
    grid-column: 7 / 12;
    grid-row: 4 / 5;
    font-size: 8rem;
    justify-self: start;
    align-self: end;
    
    /* grid-column: 7 / 13;
    grid-row: 3; */

    /* position: relative;
    top: 50px; */
    
    /* line-height: 130px; */

  }

  .image {
    grid-column: 3 / 12;
    grid-row: 3 / 4;
    justify-self: start;
    align-self: center;
  }
  
  .introduction {
    text-align: center;
    font-size: 1.5rem;
    font-weight: 100;
    grid-column: 1 / 12;
    grid-row: 5 / 6;
    justify-self: center;
    align-self: center;
  }

  .more {
    grid-column: 1 / 12;
    grid-row: 6 / 7;
    align-self: center;
  }
}

/* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */
@media (min-width:600px) {}

@media (min-width:800px) {
  /* tablet, landscape iPad, lo-res laptops ands desktops */
  /* landscape tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */
  .gridContainer {
    /* background-image: radial-gradient(#32325e, #1c1c4892); */
    /* background-image: conic-gradient(#37374f, #222231); */
    /* background-image: conic-gradient( #222231, #37374f); */

    background-image: conic-gradient(#1c1c4892, #32325e);
    grid-template-rows: 5vh 15% 40% 15% 20% auto;
  }

  .menu,
  .mobileNav {
    display: none;
  }

  .navContainer {
    display: block;
  }

  .lastName {
    grid-column: 1 / 12;
    font-size: 8rem;
  }

  .image {
    grid-column: 3 / 12;
    height: 400px;
    width: 400px;
  }

  .firstName {
    grid-column: 5 / 12;
    font-size: 10rem;
  }
  
  .introduction {
    grid-column: 2 / 11;
    font-size: 1.25em
  }

  .projects {
    width: 80%;
    /* grid-template-columns: repeat(12, 1fr); */
    /* grid-template-rows: repeat(2, 1fr); */
    /* gap: 1rem; */
    /* padding-left: 1rem;
    padding-right: 1rem; */
    gap: 15px;
    padding: 25px;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-auto-flow: dense;
    margin: 0 auto;
  }

  .project {
    width: 100%;
    margin: 0;
  }

  .long {
    grid-row: span 2;
  }

  .wide {
    grid-column: span 2;
  }

  .project:first-of-type .projectImage {
    display: block;
    width: 90%;
    height: 60px;
  }

  /* .project:first-of-type {
    grid-column: 1 / 7;
  } */

  

  /* .project:nth-of-type(2) {
    grid-column: 7 / 13;
  } */

  /* .project:nth-of-type(3) {
    grid-column: 1 / 7;
  }

  .project:nth-of-type(4) {
    grid-column: 7 / 13;
  } */
}

/* landscape 800x480 phones (Android) */
@media (min-width:800px) and (max-height:480px) {}

/* big landscape tablets, laptops, and desktops */
@media (min-width:1025px) {
  .gridContainer {
    grid-template-rows: 5vh 140px 350px 140px 140px auto;
  }

  .lastName {
    font-size: 8rem;
    grid-column: 2 / 12;
  }

  .image {
    grid-column: 5 / 8;
  }

  .firstName {
    grid-column: 7 / 10;
    grid-row: 4 / 5;
    font-size: 10rem;
    align-self: end;

    position: relative;
    top: 50px;
  }

  .projects {
    width: 50%;
    padding-top: 5rem;
    margin: 0 auto;
  }

  .project:first-of-type .projectImage {
    width: 90%;
    height: 100px;
  }

  .long {
    grid-column: span 2;
  }

  .wide {
    grid-column: span 3;
  }
}

/* hi-res laptops and desktops */
@media (min-width:1280px) {
  .gridContainer {
    grid-template-rows: 5vh 15% 30% 15% 15% auto;
  }

  .navContainer {
    width: 30%;
  }

  .nav {
    position: initial;
    display: block;
    height: 100%;
    background: none;
    color: #fff;
    font-weight: 200;
    justify-self: end;
  }

  .nav li {
    display: inline-block;
    margin-right: 15px;
  }

  .nav li:last-of-type {
    margin-right: 0;
  }

  .introduction {
    font-size: 1.5em;
    grid-row: 6;
    grid-column: 3 / 10;
    align-self: start;
  }

  .more {
    font-size: 1.5em;
    align-self: end;
  }

  .image {
    grid-column: 5 / 12;
    height: 400px;
    width: 400px;
    align-self: start;
    box-shadow: -10px 10px 5px #9d9dad;
    position: relative;
    top: 20px
  }

  .firstName {
    grid-row: 4 / 6;
    grid-column: 7 / 12;
    align-self: end;
    font-size: 14em;
    line-height: 240px;
    position: relative;
    top: 20px;
  }

  .lastName {
    grid-column: 2 / 12;
  }
  
  .middleName {
    grid-column: 8 / 12;
    text-shadow: -5px -5px 5px #000;
    z-index: 5;
    position: relative;
    top: 50px;
  }

  .introduction {
    font-size: 1.5rem;
  }
}