.radialGradient {
  background-image: radial-gradient(#32325e, #1c1c4892);
}


@media (min-width:800px) {
  .middleName {
    text-shadow: -2px -2px 2px #000;
  }

  .radialGradient {
    background-image: conic-gradient(#1c1c4892, #32325e);
  }
}